section {
	margin-bottom: 1rem;
}

article {
	font-size: 1.15rem;
}

article * {
	margin-block: 1rem;
}

h1 {
	font-size: 2rem;
}

section h2 {
	font-size: 1.2rem;
	font-weight: 600;
}

article img {
	max-width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}
